<% include ./../partials/header %>
 
<h1>Open Tickets</h1>
 
<table align="center">
    <thead>
        <tr>
            <th align="left">Name</th>
            <th align="left">Email</th>
            <th align="left">Subject</th>
            <th align="left">Status</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < mainValues.length; i++) { %>
            <tr>
            <td><%= mainValues[i]['name'] %></td>
            <td><%= mainValues[i]['email'] %></td>
            <td><%= mainValues[i]['subject'] %></td>
            <td><%= mainValues[i]['open'] %></td>
            <td>
                <a href="/admin/ticket/<%=  mainValues[i]['_id'] %>">Reply</a>
            </td>
            <tr>
        <% } %>   
    </tbody>
</table>
<% include ./../partials/footer %>